body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {

    font-family: 'Fjalla One', sans-serif;
}
h1 {
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: #fff;
    margin: 0;
}
h1 strong {
    color: #2098d1;
}
h2 {
    color: #2098d1;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;

}

.hero {
    height: 300px;
    background-color: #054fa0;
    background-size: 500px 300px ;
  justify-content: space-between ;
    display: flex;
    align-items: center;
}
.hero-image {
    object-fit: cover;
}
.portfolio {
    background: #fafafa;
    padding: 20px;
}
.project {
    border: 1px solid #999;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.project-course, .project-date ,
.project-url {
    margin: 10px 0;
}
.project-descripcion {
    font-size: 20px;
}
.project strong {
    font-family: 'Fjalla One', sans-serif;
}
.project-title {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}
.project-details {
    width: 500px;

}
.project-imageContainer {
    width: 500px;
    flex-shrink: 0;
    overflow: hidden;

}
.project-image{
    width:400px;
    height: 300px;
}
.header {
    background: #2098d1;
    color: #fff;
    display: flex;
    height: 60px;
    justify-content: space-between;
}

ol , ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
figure {
    margin: 0;
}
.header ul li {
    height: inherit;
}
.header a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items:center;
    height: inherit;
    padding: 0 10px;
}
.menu {
    
    height: inherit;
}
.header ul {
    display: flex;
    height: inherit;
}
.event {
    margin: 10px;
    width:480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}
.event-list-title {
    margin-left: 20px
}
.event-list {
    display: flex;
    flex-wrap: wrap;

}
.event img {
    width:480px;
    height: 200px;
}
.event-detail {
    margin: 20px 40px;
    background: #fff;
    padding: 20px;
    margin-top: -40px;
    position: relative;
    text-align: center;
    border-radius: 10px;
}
.event-description {
    text-align: left;
}
.event-url {
    border: 1px solid ;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
    border-radius: 5px;
}
.contact {
    background: #056fff;
    color: #fff;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-email input {
    border-radius: 3px;
    border-color: #999;
    border-style: solid;
    padding:5px 25px;
    background-image: url('../img/envelope.svg')  ; 
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}
.form-email button {
    display: block;
    margin-top: 10px;
    background: transparent ;
    color: #fff;
    width: 100px;
    border-radius: 5px;
    padding: 10px 0;
    /* margin: 10px auto 0 ; */
    margin-top: 10px;

}
.form-email h3 {
    font-family: 'Source Sans Pro', sans-serif;
}
.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.facebook {
    background-image: url('../img/facebook.svg');
   }
.social-link.github {
    background-image: url('../img/github.svg');
    
}
.social-link.instagram {
    background-image: url('../img/instagram.svg');
    
}
.footer {
    background: #2098d1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer img {
    vertical-align: middle;
    padding-right: 30px;
    object-fit: cover;
}
.container {
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    flex-wrap: inherit;
    align-items: inherit;
    height: inherit;
  
}